QUESTION 1:
PYTHON INTRODUCTION:
Python is a versatile, general purpose programming language it is known for its readability and ease of use.

PYTHON BASICS:
1-STRING
string are sequence of character which is enclosed by quotes(") string are immutable in python.they are fundamental for storing and working with text data.

In [ ]:
STRING METHODS
*Upper():Converts the string to uppercase
lowercase():Converts the string to lowercase
strip():removes leading and trailing whitespace

#Creating string in python
you can create string in
single quotes(')
double quotes(")
or triple quotes(""")

In [19]:
#accessing characters
#string are indexed, starting from (0)
name="khadeeja"
first_letter=[2]#this will be 'a'
last_letter=[-1]#negative indexing start form the end 
print(first_letter)
print(last_letter)

[2]
[-1]

In [33]:
#string slicing
# Message to slice
message = "Hello, world!"

# Get the first word (everything before the space)
first_word = message[: message.find(" ")]  

# Get the last word (everything after the last space)
last_word = message[message.rfind(" ") + 1:]  

# Print the results
print(f"First word: {first_word}")
print(f"Last word: {last_word}")

First word: Hello,
Last word: world!

In [34]:
#string concatination 
first_name="khadeeja"
last_name="Ramzan"
full_name=first_name+""+ last_name
print(full_name)

khadeejaRamzan

In [35]:
#string formatting
name="Bob"
age=30
greeting=f"hello, {name} ! you are {age} years old" 
print(greeting)

hello, Bob ! you are 30 years old

In [36]:
#WORKING WITH INTEGERS 
value1=23
value2=100
average= value1+value2 /2
print("the average is:",average)

the average is: 73.0

In [21]:
#WORKING WITH BOOLEANS
booleant= True
booleanf= False
print(booleant)
print(booleanf)

True
False

In [22]:
#WORKING WITH FLOATS
area=278.9
area2=23.56
total_area=278.9*23.56
print(total_area)

6570.883999999999

In [40]:
#WORKING WITH TUPLES
# Simple tuple with strings
fruits = ("apple", "banana", "cherry")

# Tuple with mixed data types
data = (10, 3.14, True, ["apple", "pie"])  # List inside a tuple

# Tuple with one element (needs a trailing comma)
name = ("Alice",)  # Without the comma, it would become a string
print(fruits)

('apple', 'banana', 'cherry')

In [38]:
#working with dictionaries
dictionary = {'name':'khadija','age': 20}
print(dictionary)

{'name': 'khadija', 'age': 20}

In [25]:
#for looping
fruits=["apple","banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [26]:
#while looping
# Initialize a counter variable
counter = 1
while counter <= 5:
  print(f"Counting: {counter}")
  counter += 1 
print("Finished counting!")

Counting: 1
Counting: 2
Counting: 3
Counting: 4
Counting: 5
Finished counting!

In [27]:
#conditional statement
is_sunny = True  
if is_sunny:
    print("Go outside and enjoy the sunshine!")
else:
    print("Stay cozy inside with a good book!")

Go outside and enjoy the sunshine!

In [28]:
# Create a class called "Car"
class Car:
  def __init__(self, color, model):  
    self.color = color
    self.model = model

  # Define a method (behavior) to describe the car
  def describe(self):
    print(f"This car is a {self.color} {self.model}.")

# Create an object (instance) of the Car class
my_car = Car("red", "Honda Civic")

# Call the method of the object to describe it
my_car.describe()

This car is a red Honda Civic.

Qno 2:NUMPY AND PANDAS
why should we use them in python?
NumPy arrays are faster and more compact than Python lists. An array consumes less memory and is convenient to use. NumPy uses much less memory to store data and it provides a mechanism of specifying the data types. This allows the code to be optimized even further

In [29]:
# Importing NumPy library
import numpy as np

# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Printing the array
print("Original Array:", arr)

# Performing some operations on the array
print("Sum of Array Elements:", np.sum(arr))
print("Mean of Array Elements:", np.mean(arr))
print("Standard Deviation of Array Elements:", np.std(arr))

Original Array: [1 2 3 4 5]
Sum of Array Elements: 15
Mean of Array Elements: 3.0
Standard Deviation of Array Elements: 1.4142135623730951

In [30]:

import numpy as np
# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5])
print(arr)  # Output: [1 2 3 4 5]

# Array shape (dimensions)
print(arr.shape)  # Output: (5,) (one-dimensional array)

# Accessing elements
first_element = arr[0]
print(first_element)  # Output: 1

# Slicing (extracting sub-arrays)
sub_arr = arr[1:4]  # From index 1 (inclusive) to 4 (exclusive)
print(sub_arr)  # Output: [2 3 4]

# Array creation with specific data types
float_arr = np.array([1.5, 2.3, 4.2], dtype=float)
print(float_arr.dtype)  # Output: float64

# Mathematical operations (element-wise)
doubled_arr = arr * 2
print(doubled_arr)  # Output: [2 4 6 8 10]

# Other array creation methods
zeros_arr = np.zeros(5)  # Create an array of 5 zeros
ones_arr = np.ones((2, 3))  # Create a 2x3 array of ones
random_arr = np.random.rand(4)  # Create a random array of size 4 (between 0 and 1)

# Array concatenation
combined_arr = np.concatenate((arr, zeros_arr))
print(combined_arr)

[1 2 3 4 5]
(5,)
1
[2 3 4]
float64
[ 2  4  6  8 10]
[1. 2. 3. 4. 5. 0. 0. 0. 0. 0.]

What kind of data does pandas handle?
When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you. pandas will help you to explore, clean, and process your data. In pandas, a data table is called a DataFrame.

How do I read and write tabular data?
pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,…). Importing data from each of these data sources is provided by function with the prefix read_. Similarly, the to_ methods are used to store data.

Why Use Pandas?
Pandas is used for data manipulation and analysis, offering powerful data structures and tools for working with structured data.

1.DataFrame:
Pandas provides a DataFrame object, which is a 2-dimensional labeled data structure with columns of potentially different types. It's similar to a spreadsheet or SQL table, making it easy to handle tabular data.

2.Data Cleaning:
Pandas offers functions and methods for data cleaning tasks such as handling missing data, removing duplicates, and transforming data into the desired format. 

3.Data Manipulation:
It allows for easy manipulation of data, including filtering, selecting, grouping, aggregating, merging, and reshaping data.

4.Data Analysis:
Pandas provides statistical functions for data analysis, including descriptive statistics, correlation analysis, and time-series analysis.

5.Integration with Other Libraries:
Pandas integrates well with other Python libraries such as NumPy, Matplotlib, and scikit-learn, providing a powerful ecosystem for data analysis and machine learning.
Overall, Pandas simplifies the process of working with structured data in Python and is widely used in data science, machine learning, and data analysis projects.

In [31]:
import pandas as pd
# Creating a DataFrame:
data = {'Name': ['Babar Azam', 'Shahdab', 'Shaheen Shah'],
        'Age': [30, 30, 25],
        "city": ['lahore','lahore','peshawar']}
df = pd.DataFrame(data)
print(df)
df.to_csv("CricketersInfo.csv")

           Name  Age      city
0    Babar Azam   30    lahore
1       Shahdab   30    lahore
2  Shaheen Shah   25  peshawar

In [ ]:
import pandas as pd

df=pd.read_csv("phishing.csv",sep=",")
print(

In [ ]:
# Reading Data from CSV File:
import pandas as pd
df = pd.read_csv('')

In [ ]:
import pandas as pd
df= pd.read_csv('phishing.csv')

In [51]:
df.head()

           Name  Age      city
0    Babar Azam   30    lahore
1       Shahdab   30    lahore
2  Shaheen Shah   25  peshawar

In [ ]:
import pandas as pd
df=pd.read_csv('CloudWatch_Web_Attack.csv')
df.head()

  work_year experience_level employment_type               job_title  salary  \
0       2022               EN              FT   Cyber Program Manager   63000   
1       2022               MI              FT        Security Analyst   95000   
2       2022               MI              FT        Security Analyst   70000   
3       2022               MI              FT     IT Security Analyst  250000   
4       2022               EN              CT  Cyber Security Analyst  120000   

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD          63000                 US            50   
1             USD          95000                 US             0   
2             USD          70000                 US             0   
3             BRL          48853                 BR            50   
4             USD         120000                 BW           100   

  company_location company_size  
0               US            S  
1               US            M  
2               US            M  
3               BR            L  
4               BW            S

      work_year experience_level employment_type  \
1242       2020               MI              FT   
1243       2021               SE              FT   
1244       2021               SE              FT   
1245       2021               MI              FT   
1246       2021               MI              FT   

                         job_title  salary salary_currency  salary_in_usd  \
1242        Cyber Security Analyst  140000             AUD          96422   
1243  Information Security Manager   60000             GBP          82528   
1244  Penetration Testing Engineer  126000             USD         126000   
1245  Information Security Analyst   42000             GBP          57769   
1246   Threat Intelligence Analyst   66310             USD          66310   

     employee_residence  remote_ratio company_location company_size  
1242                 AU            50               AU            M  
1243                 GB            50               GB            L  
1244                 US           100               US            L  
1245                 GB           100               GB            L  
1246                 US             0               US            L

In [ ]:
# Basic DataFrame Operations:
print(df.shape)
print(df.columns)
print(df.describe())
print(df['job_title'])

(1247, 11)
Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')
         work_year        salary  salary_in_usd  remote_ratio
count  1247.000000  1.247000e+03    1247.000000   1247.000000
mean   2021.316760  5.608525e+05  120278.218925     71.491580
std       0.715501  1.415944e+07   70291.394942     39.346851
min    2020.000000  1.740000e+03    2000.000000      0.000000
25%    2021.000000  7.975450e+04   74594.500000     50.000000
50%    2021.000000  1.200000e+05  110000.000000    100.000000
75%    2022.000000  1.600800e+05  150000.000000    100.000000
max    2022.000000  5.000000e+08  910991.000000    100.000000
0              Cyber Program Manager
1                   Security Analyst
2                   Security Analyst
3                IT Security Analyst
4             Cyber Security Analyst
                    ...             
1242          Cyber Security Analyst
1243    Information Security Manager
1244    Penetration Testing Engineer
1245    Information Security Analyst
1246     Threat Intelligence Analyst
Name: job_title, Length: 1247, dtype: object

In [ ]:
Country Code Mapping
# Reading Data from CSV File:
df1 = pd.read_csv('Country-Code-Mapping.csv')
print(df1.head())

   Value           Label
0      4     Afghanistan
1      6         Albania
2      7         Algeria
3      8  American Samoa
4      9         Andorra

     Value       Label
147    171  Uzbekistan
148    172   Venezuela
149    173     Vietnam
150    174       Yemen
151    175    Zimbabw

(152, 2)
Index(['Value', 'Label'], dtype='object')
            Value
count  152.000000
mean    88.605263
std     50.131504
min      4.000000
25%     44.750000
50%     87.500000
75%    132.500000
max    175.000000
0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...      
147        Uzbekistan
148         Venezuela
149           Vietnam
150             Yemen
151          Zimbabwe
Name: Label, Length: 152, dtype: object